<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bright Ideas - Idea Forum</title>
</head>
<body>
    <div>
        <a href="/dashboard">My Dashboard</a>  <a href="/logout">Logout</a>
    </div>
    <div>
        <a href="">{{}}</a> says: <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe iure perferendis vero eveniet eaque itaque totam consectetur animi neque, unde tempore. Quia in illo odio dolorem porro eius error asperiores!</p>
    </div>
    <div>
        <h5>People who liked this post.</h5>
        <table>
            <thead>
                <tr>
                    <th>Alias</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for %}
                <tr>
                    <td><a href="">{{Alias of he/she/they who liked}}</a></td>
                    <td>{{Name of he/she/they who liked}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>