<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bright Ideas - Login and Registration</title>
</head>
<body>
    <div class="container">
        <h2>Welcome to Bright Ideas!</h2>
        <form action="/registration" method = "POST">
            <h3>Register</h3>
            <div>
                <label for="Name">Name</label>
                <input type="text" name="name" id="name">   
            </div>
            <div>
                <label for="alias">Alias</label>
                <input type="text" name="alias" id="alias">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="text" name="email" id="email">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div>
                <label for="c_password">Confirm Password</label>
                <input type="password" name="c_password" id="password">
            </div>
            <input type="submit" value="Register">
        </form>
        <form action="/login" method = "POST">
            <h3>Login</h3>
            <div>
                <label for="email">Email</label>
                <input type="text" name="email">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>