<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/LoginRegistration.css') }}">
    <title>Bright Ideas - Login and Registration</title>
  </head>
  <body>
    <div class="container">
      <h2>Welcome to Bright Ideas!</h2>
      <div class="two_forms">
        <!-- FIRST FORM -->
        <form action="/register" method="POST">
          <h3>Register</h3>
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
          <div>
            <label for="Name">Name</label>
            <input type="text" name="name" id="name" />
          </div>
          <div>
            <label for="alias">Alias</label>
            <input type="text" name="alias" id="alias" />
          </div>
          <div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" />
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" />
          </div>
          <div>
            <label for="c_password">Confirm Password</label>
            <input type="password" name="c_password" id="password" />
          </div>
          <input type="submit" value="Register" class="submit_button" />
        </form>
        <!-- SECOND FORM  -->

        <form action="/login" method="POST">
          <h3>Login</h3>
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
          <div>
            <label for="email">Email</label>
            <input type="text" name="email" />
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" name="password" />
          </div>
          <input type="submit" value="Login" class="submit_button" />
        </form>
      </div>
    </div>
  </body>
</html>
