<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bright Ideas - Dashboard</title>
</head>
<body>
    <h2>Welcome {{}}!</h2>
    <div class="container">
        <form action="" method="POST">
            <input type="textarea" name="idea_name" placeholder="Post something witty here." id="idea_name">
            <button>Idea!</button>
        </form>
    </div>
    <div>
        {% for  %}
        <div class="idea_box">
            <a href="">{{}}</a> says: <p>Test text messaging to see if this works.</p>
            <div>
                <a href="/">Like</a><a href="/">{{}}</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="/logout">Logout</a>
</body>
</html>